OLLAMA_MODEL="qwen3:1.7b"
USER_TITLE="Sir"
MIC_INDEX = None
TRIGGER_WORD="alfred"
STANDBY_KEYWORD=standby
CONVERSATION_TIMEOUT=20
SHUTDOWN_KEYWORDS=shutdown,shut down,stop,quit,goodbye,turn off,power off